<section class="well">
    <h2 id="publications">Publications</h2>
    <div>
        Scopus id - <a href="http://www.scopus.com/authid/detail.url?authorId=14623445600">14623445600</a>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/js/bibtex_js.js"></script>
    <script type="text/javascript">

        $(function () {

            $.get('/data/zio.bib', function (data) {
                $('#bibtex_input').val(data);
                bibtex_js_draw();
            });


        });

    </script>

    <div class="bibtex_template">
        <li>
            <span class="if author"><span class="author" style="font-weight: bold;"></span></span>
            <span><span class="title"></span></span> //
            <span class="if journal"><span class="journal"></span>,</span>
            <span class="if booktitle"><span class="booktitle"></span>,</span>
            <span class="if address"><span class="address"></span>,</span>
            <span class="if year"><span class="year"></span>,</span>
            <span class="if volume"><span class="volume"></span>,</span>
            <span class="if pages"><span class="pages"></span></span>.
            <span class="if url" style=""><a class="url" style="">(view online)</a></span>
        </li>
    </div>

    <textarea id="bibtex_input" style="display:none;">
        @book{book1,
        author = "Donald Knuth",
        title = "Concrete Mathematics"
        }
    </textarea>


    <ol id="bibtex_display"></ol>

</section>
