<nav id="footer-nav" class="navbar navbar-default navbar-fixed-bottom " role="navigation">
    <h4 class="navbar-left"> My social accounts:</h4>
    <ul class="nav nav-pills ">
        <li><a href="http://www.linkedin.com/in/dmzio/en">
            <img src="http://s.c.lnkd.licdn.com/scds/common/u/img/favicon_v3.ico"
                 alt="D. Ziolkovskiy on LinkedIn"/>
        </a></li>
        <li><a href="https://www.facebook.com/dmitry.ziolkovskiy">
            <img src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico"
                 alt="D. Ziolkovskiy on Facebook" width="16px" height="16px" />
        </a></li>
        <li><a href="https://github.com/dmzio">
            <img src="https://github.com/favicon.ico" alt="D. Ziolkovskiy on github" width="16px" height="16px"/>
        </a></li>
        <li><a href="https://www.researchgate.net/profile/Dmitry_Ziolkovskiy">
            <img src="https://www.researchgate.net/favicon-96x96.png" alt="D. Ziolkovskiy on Researchgate" width="16px" height="16px"/>
        </a></li>
    </ul>

</nav>
