<nav id="footer-nav" class="navbar navbar-default navbar-fixed-bottom " role="navigation">
    <h4 class="navbar-left"> My social accounts:</h4>
    <ul class="nav nav-pills ">
        <li>
            <a href="https://plus.google.com/116012138763503762338">
                <img src="//ssl.gstatic.com/s2/oz/images/faviconr3.ico" alt="D. Ziolkovskiy on Google plus"
                     width="16px" height="16px"/>
            </a>
        </li>
        <li><a href="https://www.elance.com/s/ziodmitry/">
            <img src="//www.elance.com/media/images/4.0/favicon.ico" alt="D. Ziolkovskiy on Elance"/>
        </a></li>
        <li><a href="http://www.freelancer.com/u/dziolkovskiy.html">
            <img src="http://www.freelancer.com/favicon.ico" width="16 px" height="16 px"
                 alt="D. Ziolkovskiy on Freelancer.com"/>
        </a></li>
        <li><a href="http://www.linkedin.com/in/dmzio/en">
            <img src="http://s.c.lnkd.licdn.com/scds/common/u/img/favicon_v3.ico"
                 alt="D. Ziolkovskiy on LinkedIn"/>
        </a></li>
        <li><a href="https://www.facebook.com/dmitry.ziolkovskiy">
            <img src="//fbstatic-a.akamaihd.net/rsrc.php/yi/r/q9U99v3_saj.ico"
                 alt="D. Ziolkovskiy on Facebook"/>
        </a></li>
        <li><a href="https://github.com/dmzio">
            <img src="https://github.com/favicon.ico" alt="D. Ziolkovskiy on github" width="16px" height="16px"/>
        </a></li>
    </ul>

</nav>
