---
layout: bare
---

<section >
  <div class="container page-header">
      <div class="col-md-7 col-md-offset-3 ">

            <h1 class="text-right">
                <a href="/" title="Main page"> Dr. Dmitry Ziolkovskiy</a>
            </h1>

           <h1><small>{{ page.title }}</small></h1>
      </div>
    <div class="col-md-2">
            <img class="img-thumbnail" src="/img/avatar.jpg" alt="Dmitry Ziolkovskiy" width="100px">
    </div>
  </div>
    </section>

<section>
  <div class="container">
    {{ content }}
  </div>
</section>
